{{ $title := .Title }}
{{ $url := printf "%s" .Permalink| absLangURL }}
{{ if not .Params.disable_share }}
<div>
    <ul style="nobullets-social-share">
        <li style="nobullets-social-share">
            {{ $facebook_href := printf "https://www.facebook.com/sharer.php?u=%s" $url }}
            <a href="{{ $facebook_href }}" class="facebook no-underline" aria-label="share on Facebook">
                <i class="fab fa-facebook fa-lg"></i>
            </a>
        </li>
        <li style="nobullets-social-share">
			{{ $twitter_href := printf "https://twitter.com/share?url=%s&text=%s" $url $title }}
			{{ with .Site.Social.twitter }}
			{{ $twitter_href = printf "%s&via=%s" $twitter_href . }}
			{{ end }}
            <a href="{{ $twitter_href }}" class="twitter no-underline" aria-label="share on Twitter">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
        </li>
        <li style="nobullets-social-share">
			{{ $linkedin_href := printf "https://www.linkedin.com/shareArticle?mini=true&url=%s&title=%s" $url $title }}
            <a href="{{ $linkedin_href }}" class="linkedin no-underline" aria-label="share on LinkedIn">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
        </li>
    </ul>
</div>
{{ end }}